<html>
<head>
    <title>Информация о группе | ГГМК</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
</head>
<body>
{{>admin/menu}}
<div class="container">
    <h1>{{group.title}}</h1>
    Курс: {{group.course}}<br>
    Номер: {{group.number}}<br>
    Коммерция: {{group.commercial}}<br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Роль</th>
        </tr>
        </thead>
        <tbody>
        {{#group.users}}
        <tr>
            <th scope="row">{{id}}</th>
            <td>{{firstName}}</td>
            <td>{{lastName}}</td>
            <td>{{role}}</td>
        </tr>
        {{/group.users}}
        </tbody>
    </table>
</div>
</body>
</html>
