<div class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <a class="navbar-brand" href="/admin">ГГМК</a>
    <ul class="navbar-nav">
        <a class="nav-item nav-link" href="/admin/students">Студенты</a>
        <a class="nav-item nav-link" href="/admin/teachers">Преподаватели</a>
        <a class="nav-item nav-link" href="/admin/groups">Группы</a>
        <a class="nav-item nav-link" href="/admin/subjects">Предметы</a>
        <a class="nav-item nav-link" href="/admin/settings">Настройки</a>
        <a class="nav-item nav-link" href="/logout">Выйти</a>
    </ul>
</div>
